<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SeatConstructor.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>



    <connectionStrings>
      <!--<add name="SeatConstructorConnectionString" connectionString="workstation id=SeatConstructorDB.mssql.somee.com;packet size=4096;user id=Egoryhka_SQLLogin_1;pwd=53lifmc621;data source=SeatConstructorDB.mssql.somee.com;persist security info=False;initial catalog=SeatConstructorDB;MultipleActiveResultSets=True"/>-->
      <!--<add name="SeatConstructorConnectionString" connectionString="Server=(localdb)\\mssqllocaldb;Database=SeatLocalDB;Trusted_Connection=True;MultipleActiveResultSets=True"/>-->
    </connectionStrings>
    
  </location>
</configuration>
<!--ProjectGuid: 77878161-abee-4e76-9448-f3393421cc95-->

